<!DOCTYPE html>
<html>
    <head lang="en-us">
        <title>Gallery Mockup</title>
        <link href="assets/css/mockup.css" rel="stylesheet" type="text/css">
        <link href="assets/css/final-frontier.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
    </head>
    <body>
        <h1>Gallery Mockup</h1>
        <div id="content">
            <div class="content">
                <div class="gallery-card">
                    <button class="close hide close-gallery" id="close-gallery-1" data-gallery-id="gallery-1">
                        &times; Close
                    </button>

                    <h2 class="card-title">Gallery Title</h2>

                    <div class="gallery-content" id="gallery-1">
                        <img src="https://picsum.photos/200" alt="1">
                        <img src="https://picsum.photos/200" alt="2">
                        <img src="https://picsum.photos/200" alt="3">
                        <img src="https://picsum.photos/200" alt="4">
                        <img src="https://picsum.photos/200" alt="5">
                        <img src="https://picsum.photos/200" alt="6">
                        <img src="https://picsum.photos/200" alt="7">
                        <img src="https://picsum.photos/200" alt="8">

                        <div class="gallery-desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec dignissim tellus. Etiam euismod orci nec molestie euismod. Sed feugiat porttitor cursus. Nulla dapibus dignissim dolor. Nulla volutpat hendrerit leo, vel eleifend libero congue eget. Nam laoreet risus non nisi suscipit, at posuere augue cursus. In hac habitasse platea dictumst. Praesent felis nisl, porta eu magna id, ullamcorper rutrum nibh.
                            Nunc pulvinar hendrerit vestibulum. Nam sit amet gravida turpis, eu tristique ipsum. Ut finibus risus sit amet leo placerat, ac tincidunt nunc euismod. In nunc lectus, cursus in eleifend vel, convallis quis quam. Morbi nisl lectus, eleifend vitae placerat ut, tempus efficitur urna. Quisque dapibus lacus urna, a suscipit ex ultrices at. Quisque eget quam mauris. Praesent cursus mattis rhoncus. In diam lectus, egestas at nisl scelerisque, eleifend consectetur arcu.
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button class="see-gallery" id="see-gallery-gallery-1" data-gallery-id="gallery-1">
                        See Gallery
                    </button>
                </div>
            </div>
        </div> 
        <script src="assets/js/final-frontier.js"></script>
    </body>
</html>