/** final-frontier.css
 * CSS rules for the final frontier CMS app 
 * 
 * Place your custom CSS rules in this document 
 */

@font-face {
    font-family: "TNG Credits";
    src: url("/assets/fonts/TNG_Credits.ttf") format("truetype"),
        url("/assets/fonts/TNG_Credits.woff") format("woff");
}

* {
    font-family: Verdanda;
}

h1, h2, h3, h4 {
    font-family: "TNG Credits";
}

/* Main page */
.main-page > h1 {
    text-align: center;
}

.main-page > .cards {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    justify-content: center;
    justify-items: center;
    /* add a bit of margin on bottom to keep 
     * cards from rubbing edge of page and
     * getting blisters
     */
    margin-bottom: 4%;
}

@media (max-width: 490px) {
    .main-page > .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

/* Card styling */
.card {
    width: 100%;
    min-height: 300px;
    padding: 10px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    background-color: white;
}
.card.expanded {
    position: absolute;
    width: 99vw;
    height: 99vh;
    max-width: 100%;
    overflow: scroll;
    box-shadow: none;
    border-radius: none;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    text-align: center;
}

.card-footer {
    width: 100%;
    text-align: center;
}

/* Article */
.article-content {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.article-content.expanded {
    overflow: visible;
    width: 100%;
    height: 100%;
    margin-bottom: auto;
}

.article-body {
    text-align: center;
}
.article-body > img {
  max-width: 50%;
  height: auto;
  margin: 0 auto;
}

.read-more, .close {
    display: visible;
}
.read-more.hide, .close.hide, .see-gallery.hide {
    display: none;
}

/* Gallery */
.gallery-card {
    margin-bottom: 10px;
}

.gallery-content {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}
.gallery-content.expanded > img {
    display: initial;
}

.gallery-content.expanded {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    align-content: stretch;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    align-items: center;
    justify-content: center;
}
.gallery-content.expanded > .gallery-desc {
    grid-column: 3;
    grid-row: 1;
    font-size: 18px;
}   
    
@media (max-width: 490px) {
    .gallery-content.expanded {
        display: flex;
        flex-direction: column;
        align-items: space-evenly;
    }
    .gallery-content.expanded > .gallery-desc {
        order: 1;
        font-size: 14px;
    }
}

.gallery-content > img:nth-child(1) {
  display: initial;
  width: 50%;
  height: auto;
}
.gallery-content > img {
    display: none;
}
.gallery-content > img.expanded {
  width: 100%;
  height: auto;
}

.gallery-desc {
    font-size: 8px;
    margin-left: 6px;
}

/* Video */
.video-content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    justify-content: center;
}
.video-content > video {
  width: 100%;
  margin: auto;
}

.video-desc {
    font-size: 10px;
}

/* Audio */
.card.audio > audio {
  /* center audio tag inside card */
  display: block;
  margin: auto;
  text-align: center;
}

.audio-desc {
  text-align: center;
}