<!DOCTYPE html>
<html>
    <head lang="en-us">
        <title>Video Mockup</title>
        <link href="assets/css/mockup.css" rel="stylesheet" type="text/css">
        <link href="assets/css/final-frontier.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
    </head>
    <body>
        <h1>Video Mockup</h1>
        <div id="content">
            <div class="content">
                <h2 class="card-title">Video Title</h2>

                <div class="video-content">
                    <video controls width="150px">
                        <source src="/mockups/assets/JPL-20190213-MERf-0001.mp4" type="video/mp4">
                    </video>

                    <p class="video-desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at sapien lacinia, vulputate turpis vitae, volutpat mauris. Nam luctus massa in aliquam facilisis. Praesent ultricies, magna ut interdum commodo, purus turpis congue odio, quis egestas metus est quis est. Cras feugiat ac risus at tincidunt. Nulla dapibus dui urna, sit amet vulputate mauris mollis non. Suspendisse potenti. Fusce aliquam euismod tellus, a fringilla metus blandit a. Nunc nec ligula finibus, venenatis lacus in, tincidunt quam. Suspendisse potenti. Proin fermentum convallis purus, sit amet rhoncus nunc feugiat vel. Ut eleifend leo ut accumsan placerat. Integer pulvinar lectus a sapien vestibulum molestie.
                        Donec imperdiet, orci vel aliquam blandit, ligula felis convallis purus, consectetur ultrices tellus lacus ac tellus. Fusce leo magna, vulputate id ultrices at, pretium luctus ipsum. Suspendisse fermentum nunc enim, vel convallis lorem consequat ac. Aenean sit amet est nibh. Morbi commodo tincidunt diam, et bibendum nisi interdum vel. Aenean sagittis condimentum bibendum. Quisque suscipit nulla lectus, at bibendum turpis semper in. Sed vitae dolor imperdiet, semper quam dictum, dignissim dui. Donec euismod dolor a lacus congue vestibulum. Suspendisse quis ipsum lobortis, consectetur nisi bibendum, luctus est. Integer in ullamcorper nisl. Pellentesque luctus lobortis tincidunt. Pellentesque tristique mi malesuada felis suscipit, a vehicula massa consequat. In ut commodo sapien.
                    </p>
                </div>
            </div>
        </div> 
        <script src="assets/js/final-frontier.js"></script>
    </body>
</html>