<!DOCTYPE html>
<html>
  <head lang="en-us">
    <title>Final Frontier</title>
    <link href="/public/assets/css/mockup.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/final-frontier.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
  </head>
  <body>
    <div class="main-page">
      <h1>Final Frontier</h1>
      <div style="text-align: center; margin-bottom: 25px;">
        <span class="search-bar">
          <input type="text" name="search">
          <button class="search-btn">Search</button>
        </span>
      </div>
      <div class="cards">
        ${cardsHtml}
      </div>
    </div>
    <script src="/public/assets/js/final-frontier.js"></script>
  </body>
</html>